@font-face {
    font-family: 'nwmd-1337';
    font-style: normal;
    src: local('nwmd-1337'), url(@/assets/fonts/nwmd-1337-817.woff2) format('woff');
}

$font-family: 'nwmd-1337';

html {
    font-family: $font-family, sans-serif !important;
}

.v-btn {
    text-transform: lowercase;
    z-index: 1;

    &:hover {
        text-transform: uppercase;
    }
}

.data-string textarea {
    font-size: 0.75rem !important;
    font-family: monospace;
}


.text-smaller {
    font-size: 0.7rem !important;
}

.text-smaller-2 {
    font-size: 0.5rem !important;
}

.text-smaller-3 {
    font-size: 0.8rem !important;
}


.img-wrapper {
    image-rendering: pixelated;
    border: 2px solid #ffffff;
    width: 60px;
    height: 60px;
}

.img-wrapper:hover {
    cursor: pointer;
}

.img-wrapper-lock {
    border: 2px solid #48DD00;
}

.img-wrapper-butter {
    image-rendering: pixelated;
    width: 100px;
    height: 100px;
}

.img-layers-butter {
    width: 360px;
    height: 360px;
    margin: auto;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 360px;
        width: 360px;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }
}

.img-layers {
    width: 480px;
    height: 480px;
    margin: auto;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 480px;
        width: 480px;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        border: 2px solid #ffffff;
    }
}

.img-layers-medium {
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        width: 300px;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        border: 2px solid #ffffff;
    }
}

.img-layers-smaller {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 200px;
        width: 200px;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        border: 2px solid #ffffff;
    }
}


.img-layers-smaller:hover {
    border: 2px solid #48DD00;
    cursor: pointer;
}

.scrollable {
    height: 690px;
    width: 960px;
    overflow: auto;
    float: left;
    position: relative;
}