<template>
    <v-container fluid>
        <v-row>
            <v-col class="text-center mt-5" cols="12">
                build your
                <span class="text-primary"> bertha </span>
            </v-col>
        </v-row>
        <v-row class="py-6">
            <v-col cols="6">
                <marquee class="mx-6 text-accent" behavior="alternate"
                    >TOTAL: {{ totalTraits }}
                </marquee>
                <v-tabs
                    v-model="toggleTraitsTab"
                    color="secondary"
                    cols="2"
                    md="2"
                    xs="2"
                    align-tabs="start"
                    center-active
                    fixed-tabs
                    show-arrows
                >
                    <v-tab value="headTab">head ({{ headData.length }})</v-tab>
                    <v-tab value="hairTab">hair ({{ hairData.length }})</v-tab>
                    <v-tab value="eyesTab">eyes ({{ eyesData.length }})</v-tab>
                    <v-tab value="mouthTab"
                        >mouth ({{ mouthData.length }})</v-tab
                    >
                    <v-tab value="headwareTab"
                        >headware ({{ headwareData.length }})</v-tab
                    >
                    <v-tab value="topTab">top ({{ topData.length }})</v-tab>
                </v-tabs>

                <v-container v-show="isLoading" class="text-center">
                    <v-progress-circular
                        indeterminate
                        color="primary"
                        class="align-center"
                    ></v-progress-circular>
                </v-container>

                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'headTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in headData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'hairTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in hairData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'eyesTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in eyesData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'mouthTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in mouthData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'headwareTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in headwareData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <v-container
                    class="scrollable"
                    v-show="toggleTraitsTab === 'topTab'"
                    fluid
                >
                    <v-row>
                        <v-col
                            v-for="trait in topData"
                            :key="trait._id"
                            cols="12"
                            md="3"
                        >
                            <v-card @click="updatePreview(trait)">
                                <v-img
                                    :src="trait.img_data"
                                    style="image-rendering: pixelated"
                                    aspect-ratio="1"
                                    cover
                                ></v-img>
                                <v-card-title
                                    class="text-terminal text-smaller"
                                >
                                    {{ trait.name }}
                                </v-card-title>

                                <v-card-actions>
                                    <v-spacer></v-spacer>

                                    <v-btn
                                        size="small"
                                        color="surface-variant"
                                        variant="text"
                                        icon="mdi-delete"
                                        @click="deleteTrait(trait)"
                                    ></v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

                <v-container>
                    <v-dialog v-model="confirmDelete" width="auto">
                        <v-card>
                            <v-card-text>
                                do you want to delete this?
                            </v-card-text>
                            <v-img
                                :src="imgToDelete"
                                style="image-rendering: pixelated"
                                aspect-ratio="1"
                                cover
                            ></v-img>
                            <v-text-field
                                v-model="operationCode"
                                type="password"
                                label="code"
                                name="input-10-1"
                                required
                            ></v-text-field>
                            <v-card-actions class="justify-center">
                                <v-btn color="primary" @click="proceedDelete"
                                    >LFG</v-btn
                                >
                                <v-btn @click="confirmDelete = false"
                                    >EXIT</v-btn
                                >
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-container>
            </v-col>
            <v-col cols="6" justify="center" align="center">
                <p class="text-secondary pt-3">preview</p>
                <div class="img-layers mt-6">
                    <img data-type="head" :src="currentHeadImg" />
                    <img data-type="hair" :src="currentHairImg" />
                    <img data-type="eyes" :src="currentEyesImg" />
                    <img data-type="mouth" :src="currentMouthImg" />
                    <img data-type="headware" :src="currentHeadwareImg" />
                    <img data-type="top" :src="currentTopImg" />
                </div>
                <div class="pt-6">
                    <v-btn
                        variant="text"
                        icon="mdi-shuffle-variant"
                        @click="randomizeTraits()"
                    ></v-btn>
                    <v-btn
                        variant="text"
                        icon="mdi-download"
                        @click="downloadCompositeTraits()"
                    ></v-btn>
                </div>
                <div class="d-flex flex-row justify-center pt-2">
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentHeadImg"
                            :class="wrapHeadClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_HEAD)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">{{ LAYER_HEAD }}</p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_HEAD)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentHairImg"
                            :class="wrapHairClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_HAIR)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">{{ LAYER_HAIR }}</p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_HAIR)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentEyesImg"
                            :class="wrapEyesClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_EYES)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">{{ LAYER_EYES }}</p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_EYES)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentMouthImg"
                            :class="wrapMouthClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_MOUTH)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">{{ LAYER_MOUTH }}</p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_MOUTH)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentHeadwareImg"
                            :class="wrapHeadwareClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_HEADWARE)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">
                            {{ LAYER_HEADWARE }}
                        </p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_HEADWARE)"
                        ></v-btn>
                    </v-sheet>
                    <v-sheet class="ma-2 pa-2 bg-black">
                        <v-img
                            :src="currentTopImg"
                            :class="wrapTopClass"
                            aspect-ratio="1"
                            cover
                            @click="lockPreviewThumbnail(LAYER_TOP)"
                        ></v-img>
                        <p class="pt-3 text-smaller-2">
                            {{ LAYER_TOP }}
                        </p>
                        <v-btn
                            size="small"
                            color="surface-variant"
                            variant="text"
                            icon="mdi-close"
                            @click="clearPreviewThumbnail(LAYER_TOP)"
                        ></v-btn>
                    </v-sheet>
                </div>

                <p class="pt-3 text-smaller-2 text-grey-darken-3">
                    click the thumbnail to lock trait!
                </p>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup>
import { onMounted, ref } from "vue";

const TRAITS_URL = "https://1337py.vercel.app/berthas/traits";

const TERMINAL3_URL = import.meta.env.VITE_TERMINAL3_URL;
const TERMINAL3_API_KEY = import.meta.env.VITE_TERMINAL3_API_KEY;

const LAYER_HEAD = "head";
const LAYER_HAIR = "hair";
const LAYER_EYES = "eyes";
const LAYER_MOUTH = "mouth";
const LAYER_HEADWARE = "headware";
const LAYER_TOP = "top";

const traitsData = ref([]);
const headData = ref([]);
const hairData = ref([]);
const eyesData = ref([]);
const mouthData = ref([]);
const headwareData = ref([]);
const topData = ref([]);

const DEFAULT_WRAPPER_CLASS = "img-wrapper";
const LOCKED_WRAPPER_CLASS = "img-wrapper img-wrapper-lock";

const wrapHeadClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedHead = ref(false);
const wrapHairClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedHair = ref(false);
const wrapEyesClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedEyes = ref(false);
const wrapMouthClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedMouth = ref(false);
const wrapHeadwareClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedHeadware = ref(false);
const wrapTopClass = ref(DEFAULT_WRAPPER_CLASS);
const isLockedTop = ref(false);

const TRANSPARENT_BACKGROUND =
    "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IArs4c6QAAAGBQTFRFAAAAIiA0RSg8Zjkxj1Y733Em2aBm7sOa+/I2meVQar4wN5RuS2kvUkskMjw5Pz90MGCCW27hY5v/X83ky9v8////m623hH6HaWpqWVZSdkKKrDIy2Vdj13u6j5dKim8w+2O8zwAAACB0Uk5TAP////////////////////////////////////////+Smq12AAAAEklEQVQ4jWNgGAWjYBSMAuwAAAQgAAGsyR8aAAAAAElFTkSuQmCC";

const currentHeadImg = ref(TRANSPARENT_BACKGROUND);
const currentHairImg = ref(TRANSPARENT_BACKGROUND);
const currentEyesImg = ref(TRANSPARENT_BACKGROUND);
const currentMouthImg = ref(TRANSPARENT_BACKGROUND);
const currentHeadwareImg = ref(TRANSPARENT_BACKGROUND);
const currentTopImg = ref(TRANSPARENT_BACKGROUND);

const currentLayersIDs = ref({});

const toggleTraitsTab = ref(null);

const isLoading = ref(false);

const operationCode = ref("");
const imgToDelete = ref("");
const traitIDToDelete = ref("");
const confirmDelete = ref(false);

const totalTraits = ref(0);

const updatePreview = (trait) => {
    console.log(trait._id, trait.type, trait.name);
    console.log(trait.img_data);
    updateImgData(trait);
    currentLayersIDs.value[trait.type] = trait._id;
};

const updateImgData = (trait) => {
    switch (trait.type) {
        case LAYER_HEAD:
            currentHeadImg.value = trait.img_data;
            break;
        case LAYER_HAIR:
            currentHairImg.value = trait.img_data;
            break;
        case LAYER_EYES:
            currentEyesImg.value = trait.img_data;
            break;
        case LAYER_MOUTH:
            currentMouthImg.value = trait.img_data;
            break;
        case LAYER_HEADWARE:
            currentHeadwareImg.value = trait.img_data;
            break;
        case LAYER_TOP:
            currentTopImg.value = trait.img_data;
            break;
        default:
            break;
    }
};

const clearPreviewThumbnail = (layer) => {
    delete currentLayersIDs.value[layer];

    switch (layer) {
        case LAYER_HEAD:
            currentHeadImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_HAIR:
            currentHairImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_EYES:
            currentEyesImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_MOUTH:
            currentMouthImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_HEADWARE:
            currentHeadwareImg.value = TRANSPARENT_BACKGROUND;
            break;
        case LAYER_TOP:
            currentTopImg.value = TRANSPARENT_BACKGROUND;
            break;

        default:
            break;
    }
};

const deleteTrait = (trait) => {
    imgToDelete.value = trait.img_data;
    traitIDToDelete.value = trait._id;
    confirmDelete.value = true;
};

const proceedDelete = () => {
    const payload = {
        _id: traitIDToDelete.value,
        op: "d31373",
        code: operationCode.value,
    };
    fetch(`${TRAITS_URL}/update`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(payload),
    })
        .then((resp) => resp.json())
        .then((data) => {
            if (data.status != "ok") {
                alert("w20n9 c0d3");
            } else {
                location.reload();
            }
        })
        .catch((err) => {
            console.log(err);
            alert("50m37h1n9 w3n7 w20n9 :(");
        });
};

const lockPreviewThumbnail = (layer) => {
    switch (layer) {
        case LAYER_HEAD:
            isLockedHead.value = !isLockedHead.value;
            if (isLockedHead.value) {
                wrapHeadClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapHeadClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_HAIR:
            isLockedHair.value = !isLockedHair.value;
            if (isLockedHair.value) {
                wrapHairClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapHairClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_EYES:
            isLockedEyes.value = !isLockedEyes.value;
            if (isLockedEyes.value) {
                wrapEyesClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapEyesClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_MOUTH:
            isLockedMouth.value = !isLockedMouth.value;
            if (isLockedMouth.value) {
                wrapMouthClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapMouthClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_HEADWARE:
            isLockedHeadware.value = !isLockedHeadware.value;
            if (isLockedHeadware.value) {
                wrapHeadwareClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapHeadwareClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;
        case LAYER_TOP:
            isLockedTop.value = !isLockedTop.value;
            if (isLockedTop.value) {
                wrapTopClass.value = LOCKED_WRAPPER_CLASS;
            } else {
                wrapTopClass.value = DEFAULT_WRAPPER_CLASS;
            }
            break;

        default:
            break;
    }
};

const getRandomTrait = (traitData) => {
    return traitData.value[Math.floor(Math.random() * traitData.value.length)];
};

const randomizeTraits = () => {
    if (!isLockedHead.value) {
        const trait = getRandomTrait(headData);
        currentHeadImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }

    let hairName;
    const hairOut = ["none", "skinhead"];
    if (!isLockedHair.value) {
        const trait = getRandomTrait(hairData);
        hairName = trait.name;
        currentHairImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }

    if (!isLockedEyes.value) {
        const trait = getRandomTrait(eyesData);
        currentEyesImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }

    if (!isLockedMouth.value) {
        const trait = getRandomTrait(mouthData);
        currentMouthImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }

    if (!isLockedHeadware.value) {
        const trait = getRandomTrait(headwareData);
        // if hair is none or skinhead then all headware traits are accessible
        if (hairOut.indexOf(hairName.toLowerCase()) !== -1) {
            currentHeadwareImg.value = trait.img_data;
            currentLayersIDs.value[trait.type] = trait._id;
        } else {
            currentHeadwareImg.value = TRANSPARENT_BACKGROUND;
        }
    }

    if (!isLockedTop.value) {
        const trait = getRandomTrait(topData);
        currentTopImg.value = trait.img_data;
        currentLayersIDs.value[trait.type] = trait._id;
    }
};

const downloadCompositeTraits = () => {
    const payload = [
        currentHeadImg.value,
        currentHairImg.value,
        currentEyesImg.value,
        currentMouthImg.value,
        currentHeadwareImg.value,
        currentTopImg.value,
    ];
    fetch(TERMINAL3_URL, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-API-KEY": TERMINAL3_API_KEY,
        },
        body: JSON.stringify({
            images: payload,
        }),
    })
        .then((resp) => resp.json())
        .then((data) => {
            console.log(data.img);
            var a = document.createElement("a");
            a.href = data.img;
            a.download = "bertha.png";
            a.click();
        })
        .catch((err) => {
            console.log(err);
            alert("50m37h1n9 w3n7 w20n9 :(");
        });
};

onMounted(() => {
    isLoading.value = true;
    fetch(TRAITS_URL, {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
        },
    })
        .then((resp) => resp.json())
        .then((data) => {
            isLoading.value = false;

            traitsData.value = data;
            headData.value = traitsData.value.filter(
                (t) => t.type === LAYER_HEAD
            );
            hairData.value = traitsData.value.filter(
                (t) => t.type === LAYER_HAIR
            );
            eyesData.value = traitsData.value.filter(
                (t) => t.type === LAYER_EYES
            );
            mouthData.value = traitsData.value.filter(
                (t) => t.type === LAYER_MOUTH
            );
            headwareData.value = traitsData.value.filter(
                (t) => t.type === LAYER_HEADWARE
            );
            topData.value = traitsData.value.filter(
                (t) => t.type === LAYER_TOP
            );

            // TOTAL NUMBER OF TRAITS
            totalTraits.value = traitsData.value.length;
        })
        .catch((err) => {
            console.log(err);
            alert("50m37h1n9 w3n7 w20n9 :(");
        });
});
</script>
