<template>
    <v-container fluid>
        <v-row>
            <v-col class="text-center mt-5" cols="12">
                upload your
                <span class="text-primary"> bertha </span>
            </v-col>
        </v-row>

        <v-row v-show="!uploadedSuccessfully">
            <v-col cols="6" offset="3">
                <form @submit.prevent="submit">
                    <v-select
                        v-model="type.value.value"
                        :items="traitTypeList"
                        :error-messages="type.errorMessage.value"
                        label="type"
                    ></v-select>

                    <v-text-field
                        v-model="name.value.value"
                        :counter="33"
                        :error-messages="name.errorMessage.value"
                        label="name"
                    ></v-text-field>

                    <v-file-input
                        class="pt-3"
                        accept=".svg"
                        label="upload"
                        variant="underlined"
                        color="terminal"
                        @change="handleUploadedBack"
                    ></v-file-input>

                    <v-img
                        v-show="uploadedFileBack !== null"
                        :src="uploadedFileBack"
                        style="
                            image-rendering: pixelated;
                            border: 2px solid #ffffff;
                        "
                        height="320px"
                        width="320px"
                        aspect-ratio="1"
                        cover
                    >
                    </v-img>

                    <div v-show="isLoading" class="text-center">
                        <v-progress-circular
                            indeterminate
                            color="primary"
                            class="align-center"
                        ></v-progress-circular>
                    </div>

                    <div class="pt-6">
                        <v-btn class="me-4 bg-terminal" type="submit">
                            submit
                        </v-btn>

                        <v-btn @click="handleReset"> clear </v-btn>
                    </div>
                </form>
            </v-col>
        </v-row>

        <v-row v-show="uploadedSuccessfully">
            <v-col class="text-center mt-5" cols="12">
                <a href="/">
                    <button class="pa-3 bg-terminal">1337 8u11d</button>
                </a>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup>
import { ref } from "vue";
import { useField, useForm } from "vee-validate";

const traitsURL = "https://1337py.vercel.app/berthas/traits";

const uploadedFileBack = ref(null);
const uploadedSuccessfully = ref(false);
const isLoading = ref(false);

const handleUploadedBack = (e) => {
    handleUploadedFile(e, uploadedFileBack);
};

const handleUploadedFile = (e, uploadedFile) => {
    console.log(e);

    var reader = new FileReader();
    reader.readAsDataURL(e.target.files[0]);
    reader.onload = () => {
        uploadedFile.value = reader.result;
        console.log(uploadedFile.value);
    };
    reader.onerror = (e) => {
        console.log("f411 70 up104d", e);
        alert("f411 70 up104d");
    };
};

const { handleSubmit, handleReset } = useForm({
    validationSchema: {
        name(value) {
            if (value?.length >= 2) return true;

            return "n4m3 n33d5 70 83 47 13457 2 ch424c7325";
        },
        type(value) {
            if (value) return true;

            return "5313c7 4 72417 7yp3";
        },
    },
});
const name = useField("name");
const type = useField("type");

const traitTypeList = ref(["head", "hair", "eyes", "mouth", "headware", "top"]);

const submit = handleSubmit((values) => {
    if (uploadedFileBack.value === null) {
        alert(`d0n'7 f02937 70 up104d y0u2 ${values.type}`);
    } else {
        isLoading.value = true;
        const payload = {
            ...values,
            img_data: uploadedFileBack.value,
        };
        fetch(traitsURL, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
            .then((resp) => resp.json())
            .then((data) => {
                console.log(data);
                uploadedSuccessfully.value = true;
                isLoading.value = false;
            })
            .catch((err) => {
                console.log(err);
                alert("50m37h1n9 w3n7 w20n9 :(");
            });
    }
});
</script>
